doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="shortcut icon", href="/favicon.ico")
    // css reference: https://getbootstrap.com/docs/4.0/examples/pricing/
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css", integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk", crossorigin="anonymous")
    title #{section} | #{name}
    script(src="/analytics_utils.js")
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','#{container}');

  body
      
    div.d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-white.border-bottom.box-shadow
      h3.my-0.mr-md-auto.font-weight-normal GTM Training
      nav.my-2.my-md-0.mr-md-3
        a.p-2.text-dark(href="/") Home
        a.p-2.text-dark(href="/faq") FAQ
        a#nav-cta.btn.btn-outline-primary.ml-md-3(href="#") CTA
      
    div.container
      block layout-content

    footer.pt-4.my-md-5.pt-md-3.border-top
      div.d-flex.justify-content-center
        a.btn.btn-outline-primary(href="https://adswerve.com") Adswerve.com

      
//    script.
      document.querySelector('#nav-cta').addEventListener("click", function(){
        pushGaEvent('CTA', 'top nav')
      }, false);
      
    
    block page-analytics

    
